<div class="card">
    <div class ="card-head">
    	<p>Login</p>
    </div>
    <%= form_for @session, url: {action: 'create'} do |session| %>

    <div class = "form-group">
        <label>First Name</label>
        <%= session.text_field :email, value: User.all.sample.email, class: 'form-control' %>
    </div>

    <div class = "form-group">
        <label>First Name</label>
        <%= session.text_field :password, class: 'form-control' %>
    </div>
</div>


