<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @undercomment.content %>
</p>

<%= link_to 'Edit', edit_undercomment_path(@undercomment) %> |
<%= link_to 'Back', undercomments_path %>
