<html>
<body>
<p></p>
<p>Surtout, ne nous appelez pas, merci !</p>
<p>On a pas que ça à faire</p>
<% 50.times do %>
<p>*</p>
<% end %>
<p>Sauf si vous connaissez une meuf ultra-bonne qui est célibataire</p>
</body>
</html>