
      <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.4);">
  <div class="container" style=''  >
    <h1 class="display-3" style="color:rgba(255, 0, 255, 0.5)">Welcome to the Gossip Project</h1>
    <p>I've just been talking to the girls downstairs and I've got some delicious gossips.</p>
    <p>Want to see them ?</p>
    <p><a class="btn btn-primary btn-sm" href="<%=new_user_path%>" role="button" style = "background-color: rgba(0, 255, 255, 0.1);"><span>Join Us &raquo;</span></a></p>
    <p style="font-size: 10px">Already signed up ?</p>
    <p><a class="btn btn-primary btn-sm" href="<%=new_session_path%>" role="button" style = "background-color: rgba(0, 255, 255, 0.1);"><span>Login &raquo;</span></a></p>
  </div>
</div>



<footer>
	<p>&copy; Company 2049-2052</p>
</footer>
