
<div class="panel panel-default" style="text-align: center">
    <div class="panel-heading bg-dark text-white">Welcome to the Gossip Project</div>
    <div class="panel-body">Please <%= link_to "identify yourself", new_user_path%></div>
  </div>