<title>Log_in</title>
<h1>Please enter your first name to log in.</h1>
<form action='' method='POST'>
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  First name : <input type='text' name='first_name'><br/>
  <input type='submit'/>
</form>