
<title>Sign_up</title>
<h1>Create your account !</h1>
<form action='' method='POST'>
  First name : <input type='text' name='user_first_name' value="<%=first_name%>" /><br/>
  Last name : <input type='text' name='user_last_name' value="<%=last_name%>"/><br/>
  Email : <input type='text' name='user_email' value="<%=email%>" /><br/>
  <input type='submit'/>
</form>


