<body>

  <div class="row">
      <div class="column">
        <div class="card">
          <img src="https://vignette.wikia.nocookie.net/rickandmorty/images/2/23/TinyRick.png/revision/latest?cb=20150914183331" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Julien Nguyen</h2>
            <p class="title">Founder</p>
            <p>A simple peasant trying to do something good in his life.</p>
            <p>Julien@gossip.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="https://figurinepop.com/public/2018/02/morty1_1.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Dany About</h2>
          <p class="title">CEO &amp;, Co-founder</p>
          <p>The next president.</p>
          <p>Dany@gossip.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  </div>

</body>