<% current_gossip = Gossip.find(params[:id]) %>

<div class="card">
  <div class="card-header">
    Gossip n°<%=params[:id]%>: <%=current_gossip.title%>
  </div>

  <div class="card-body">
    Author: <%= link_to "#{current_gossip.author.first_name}", author_path(params[:id]) %> 
    <p class="card-text">Content: <%=current_gossip.content%></p>
    <a href="/welcome/back" class="">Back to gossip list</a>
  </div>
</div>


