<h1>Welcome <%= params[:first_name] %></h1>
<p>Viens découvrir nos potins.</p>

<p><% Gossip.all.each do |gossip|%>
<div>Gossip Author: <%= gossip.author.first_name %>  ||  Gossip Title: <%= gossip.title %>  || <%= link_to "View Gossip", welcome_path(@current_user.first_name,@gossip_id</div>
  <div></div>
<% end %>
</p>