<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <h1 class="display-4">Welcome <%= params[:first_name] %></h1>
      <p class = "display-5">Viens découvrir nos potins:</p>
    </div>


	<div class="card-columns">
	<% Gossip.all.each do |i|%>
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"><%=i.author.first_name%></h5>
			    <p class="card-text"><%=i.title%></p>
			    <%= link_to "See the card", gossip_path(params[:first_name],i.id), :class => "btn btn-primary" %>
			  </div>
			</div>
	<% end %>
	</div>
</div>

